/* ---  TYPOGRAPHY SYSTEM
- FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
      2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fae5d3;
  font-family: "Source Sans Pro", sans-serif;
}

/* ****************** */
/* *** CONTAINERS *** */
/* ****************** */
.header-container,
.main-container {
  margin: 0 auto;
  max-width: 400px;
  background: #ffffff;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 3px solid #f8d8bd;
}

.post {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-bottom: 3px solid #f5cba7;
}

.post:last-child {
  margin-bottom: none;
}

.header-post-container,
.icons-container,
.likes-captions-container {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.name-location-container {
  display: inline-flex;
  flex-direction: column;
}

.likes-captions-container {
  flex-direction: column;
  padding-top: 0;
}

/* ****************** */
/* ***** IMAGES ***** */
/* ****************** */
.logo {
  width: 100px;
  height: 44px;
}

.avatar {
  max-width: 34px;
  max-height: 34px;
  border-radius: 50%;
}

.image-post {
  max-width: 100%;
  cursor: pointer;
}

.icons {
  width: 28px;
  height: 28px;
}

.icons:hover {
  scale: 1.5;
  cursor: pointer;
}

.liked {
  filter: brightness(0) saturate(100%) invert(13%) sepia(98%) saturate(7269%)
    hue-rotate(23deg) brightness(95%) contrast(107%);
}

/* ********************** */
/* ***** TYPOGRAPHY ***** */
/* ********************** */
.name,
.likes,
.username,
.captions-info {
  font-weight: 700;
  font-size: 16px;
}

.location,
.captions-info {
  font-weight: 400;
}

.location {
  font-size: 10px;
}

.likes,
.captions-info {
  margin: 0;
}

.likes:after {
  content: " likes";
}
/* ============================================== */
